html
{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
.MainContainer
{
    position:absolute;
    left:0px;
    top:0px;
}
body
{
	margin: 0;	
	font-size: 12px;
	/**/font-family: "微软雅黑" , "宋体" ,Consolas,Verdana;
	padding: 0;
	height: 100%;
	width: 100%;
}
div, span
{
    padding:0;
	margin:0;
}
div, span, td
{
	/**/font-family: "微软雅黑" , "宋体" ,Consolas,Verdana;	
}
em
{
    font-style:normal;
}
a:link, a:visited
{
	text-decoration: none;
	color: #333;
}


a.imgbtn
{
	color: #000000;
}
a.imgbtn2 span,a.imgbtn span
{
	padding: 4px 4px 3px 21px;
	cursor: pointer;
}
a.imgbtn:hover span
{
	border: #466094 1px solid;
	padding: 3px 3px 2px 20px;
	background-color: #fff;
}
a.imgbtn2
{
       color: #36c; 
       text-decoration:underline;
}
a.imgbtn2:hover
{
       color: #f60; 
       
}

a.imgbtn span.save
{
	background: url(../../images/icons/save.gif) no-repeat 3px 4px;
}

span.Add
{
	padding-left: 20px;
	background: url(../../images/icons/add.png) no-repeat 1px;
}

span.edit
{
	cursor: pointer;
	padding-left: 20px;
	background: url(../../images/icons/edit.png) no-repeat 1px;
}
span.delete
{
	padding-left: 20px;
	background: url(../../images/icons/delete.png) no-repeat 1px;
}
span.setuser
{
    padding-left: 20px;
	background: url(../../images/icons/user.gif) no-repeat 1px;
}
span.setright
{
    padding-left: 20px;
	background: url(../../images/icons/right_key.gif) no-repeat 1px;
}
span.close
{
    padding-left: 20px;
	background: url(../../images/icons/close.gif) no-repeat 1px;
}


span.setGroup
{
	padding-left: 20px;
	background: url(../../images/icons/group.gif) no-repeat 1px;
}

span.query
{
	padding-left: 20px;
	background: url(../../images/icons/query.png) no-repeat 1px center;
}

span.trash
{
	padding-left: 16px;
	background: url(../../images/icons/trash.gif) no-repeat 2px 3px;
}

span.setPermission
{
	padding-left: 20px;
	background: url(../../images/icons/key_go.png) no-repeat 1px;
}
span.authorization
{
	padding-left: 20px;
	background: url(../../images/icons/app_key.png) no-repeat 1px;
}
span.sdelete
{
	padding-left: 16px;
	background: url(../../images/icons/sdelete.png) no-repeat 1px;
}
span.qdelete
{
	padding-left: 16px;
	background: url(../../images/icons/qdelete.gif) no-repeat 1px;
}
span.qcheck
{
	padding-left: 16px;
	background: url(../../images/icons/qcheck.gif) no-repeat 1px;
}
span.uquery
{
	padding-left: 18px;
	background: url(../../images/icons/uquery.gif) no-repeat 1px center;
}
div.errorpanel
{
   
    position:absolute;
	padding: 3px 4px 3px 24px;
	background: #c44 url("../../images/icons/unhappy.png") no-repeat 4px center;
	display:none;
	border:1px solid #CCc;
	color: #fff;
}
div.errorpanel dt
{
    padding:0px;
    margin:0px;
}
div.errorpanel dt dl
{
      padding:0px 3px;
    margin:1px;
}
div.loadingpanel
{
    position:absolute;
	background: #c44 url("../../images/icons/smile.png") no-repeat 4px center;
	color: #fff;
	display:none;
	padding: 3px 4px 3px 24px;
}
div.toolbar
{
    background: url(images/flexigrid/headbg.gif) repeat-x left -1px;
  	height:21px;
  	border: #99bbe8 1px solid;    
  	border-top:none;
  	border-left:none;
  	vertical-align:middle;
  	padding:2px 3px;
}
table.tree_grid_panel_table
{
    
}
table.tree_grid_panel_table td
{
   vertical-align:top;    
}