html
{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
body
{
	margin: 0;	
	font-size: 12px;
	/**/font-family: "微软雅黑" , "宋体" ,Consolas,Verdana;
	padding: 0;
	height: 100%;
	width: 100%;
}
div, span
{
    padding:0;
	margin:0;
}
div, span, td
{
	/**/font-family: "微软雅黑" , "宋体" ,Consolas,Verdana;	
}
em
{
    font-style:normal;
}
a:link, a:visited
{
	text-decoration: none;
	color: #333;
}


a.imgbtn
{
	color: #000000;
}
a.imgbtn2 span,a.imgbtn span
{
	padding: 4px 4px 3px 21px;
	cursor: pointer;
}
a.imgbtn:hover span
{
	border: #466094 1px solid;
	padding: 3px 3px 2px 20px;
	background-color: #fff;
}
a.imgbtn2
{
       color: #36c; 
       text-decoration:underline;
}
a.imgbtn2:hover
{
       color: #f60; 
       
}

a.imgbtn span.save
{
	background: url(../../images/icons/save.gif) no-repeat 3px 4px;
}

span.Add
{
	padding-left: 20px;
	background: url(../../images/icons/add.png) no-repeat 1px;
}

span.edit
{
	cursor: pointer;
	padding-left: 20px;
	background: url(../../images/icons/edit.png) no-repeat 1px;
}
span.delete
{
	padding-left: 20px;
	background: url(../../images/icons/delete.png) no-repeat 1px;
}
span.setuser
{
    padding-left: 20px;
	background: url(../../images/icons/user.gif) no-repeat 1px;
}
span.setright
{
    padding-left: 20px;
	background: url(../../images/icons/right_key.gif) no-repeat 1px;
}
span.close
{
    padding-left: 20px;
	background: url(../../images/icons/close.gif) no-repeat 1px;
}


div.errorpanel
{
   
    position:absolute;
	padding: 3px 4px 3px 24px;
	background: #c44 url("../../images/icons/unhappy.png") no-repeat 4px center;
	display:none;
	border:1px solid #CCc;
	color: #fff;
}
div.errorpanel dt
{
    padding:0px;
    margin:0px;
}
div.errorpanel dt dl
{
      padding:0px 3px;
    margin:1px;
}
div.loadingpanel
{
    position:absolute;
	background: #c44 url("../../images/icons/smile.png") no-repeat 4px center;
	color: #fff;
	display:none;
	padding: 3px 4px 3px 24px;
}