<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="mainDB" connectionString="Database=xEasyApp;Server=(local);Uid=sa;Pwd=123456;Enlist=true;Pooling=true;Connection Reset=false;Connect TimeOut=3000;" providerName="System.Data.SqlClient"/>
        
    </connectionStrings>
</configuration>